.Hero {
  width: 1920px;
  height: 1660px;

  background: 
    url('../images/cloud.png') center/cover no-repeat,
    linear-gradient(0deg, #C7EBFF 0%, #006DBC 100%);
}
.Hero_content{
    margin : 0 auto;
    width: 1170px;
    height: 850px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.30);
}
.middle{
    display: flex;
    flex-direction: column;  
    align-items: center;
}



.middle_Title{
    display: flex;
    margin:0 auto;
    width: 527.5px;
    color: #FFF;
    font-family: "Satoshi Variable";
    font-size: 88px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -3.52px;
}
.middle_stext{
    display: block;
    align-self: stretch;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.get_start{
    display: flex;
width: 159px;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 48px;
background: #FFF;
}
.view_demo{
    display: flex;
    width: 159px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 48px;
    border: 1px solid rgba(255, 255, 255, 0.30);
}