.head{
    width: 100vw;
    height: 80px;
    flex-shrink: 0;
    background: #D9D9D9;
}
#logo1{
    width: 145px;
height: 41.333px;
flex-shrink: 0;
}
#alertt{
    background-color: transparent;
    color: #000;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 266px;
}
#chdata{
    background-color: transparent;
    width: 266px;
    color: #000;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#grap{
    background-color: transparent;
    width: 267px;
    color: #000;
text-align: center;
font-family: "Noto Sans KR";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#peo{
    background-color: transparent;
    width: 267px;
    color: #000;
text-align: center;
font-family: "Noto Sans KR";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#log{
    color: #FFF;
font-family: "Noto Sans KR";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#logbtn{
    width: 100px;
height: 50px;
flex-shrink: 0;
border-radius: 10px;
background: #000;
}
body, .text {
  letter-spacing: 0.05em; 
  word-spacing: 0.2em;     
}
span, button {
  margin-right: 8px;
}
.container {
  display: flex;
  align-items: center;
  gap: 8px; 
}

